@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #050505;
}

.cube 
{
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 8s linear infinite ;
    right: 0%;
}
@keyframes animate 
{
    0%
    {
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%
    {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

.cube div 
{   
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube div span 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515, #00ec00);
    transform: rotateY(calc(90deg *var(--i))) translateZ(150px);
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;

}
.cube div span h2
{
    position: absolute;
    font-size: 10em;
    color: white;
    transform: translateZ(50px);
}
.cube div span h2:nth-child(1)
{
    transform: translateZ(0) translateY(20px);
    color: rgba(0,0,0,0.1);
    filter: blur(2px);
}
.top 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #222;
    transform: rotateX(90deg) translateZ(150px);
}
.top::before 
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #0f0;
    transform: translateZ(-380px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(0,255,0,0.2),
    0 0 200px rgba(0,255,0,0.4),
    0 0 300px rgba(0,255,0,0.6),
    0 0 400px rgba(0,255,0,0.8),
    0 0 500px rgba(0,255,0.1);
}



/*-------------------------------------------*/


.cube2
{
    position:absolute ;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 1s linear infinite alternate-reverse;
    right: 80%;
    bottom: 80%;
}
@keyframes animate 
{
    0%
    {
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%
    {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

.cube2 div 
{   
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube2 div span 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515, rgb(8, 183, 232));
    transform: rotateY(calc(90deg *var(--i))) translateZ(50px);
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;

}
.cube2 div span h2
{
    position: absolute;
    font-size: 40px;
    color: white;
    transform: translateZ(10px);
}
.cube2 div span h2:nth-child(1)
{
    transform: translateZ(0) translateY(20px);
    color: rgba(0,0,0,0.1);
    filter: blur(2px);
}
.top2 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: #222;
    transform: rotateX(90deg) translateZ(50px);
}
.top2::before 
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: rgb(8, 183, 232);
    transform: translateZ(-150px);
    filter: blur(2px);
    box-shadow: 0 0 12px rgba(10, 75, 216, 0.863),
    0 0 60px rgba(13, 115, 218, 0.818),
    0 0 80px rgba(16, 140, 217, 0.723),
    0 0 100px rgba(19, 193, 206, 0.8),
    0 0 120px rgb(12, 151, 221);
}



/*-------------------------------------------*/



.cube3
{
    position: absolute;
    width: 150px;
    height: 150px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate3 3s linear infinite;
    right: 20%;
    top: 10%;
    
}
@keyframes animate3 
{
    0%
    {
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%
    {
        transform: rotateX(-30deg) rotateY(-360deg);
    }
}

.cube3 div 
{   
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube3 div span 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515, rgb(245, 190, 9));
    transform: rotateY(calc(90deg *var(--i))) translateZ(75px);
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;

}
.cube3 div span h2
{
    position: absolute;
    font-size: 5em;
    color: white;
    transform: translateZ(20px);
}
.cube3 div span h2:nth-child(1)
{
    transform: translateZ(0) translateY(20px);
    color: rgba(0,0,0,0.1);
    filter: blur(2px);
}
.top3 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background: #222;
    transform: rotateX(90deg) translateZ(75px);
}
.top3::before 
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background: rgb(243, 188, 5);
    transform: translateZ(-200px);
    filter: blur(6px);
    box-shadow: 0 0 12px rgba(214, 241, 6, 0.812),
    0 0 200px rgba(230, 230, 7, 0.816),
    0 0 300px rgba(225, 229, 1, 0.861),
    0 0 400px rgba(236, 224, 7, 0.841),
    0 0 500px rgb(230, 177, 5);
}



/*-------------------------------------------*/

.text {
    color: white;
    position: absolute;
    top:96%;
    left: 94%;
    font-size: 10px;
}
